# Part of the redesigned client management system
# Clones or pulls a git repository
---
- name: Ensure Git repository is present
  hosts: all
  vars:
    repo_name: "geometry-based-wireless-power-transfer"
    repo_url: "https://github.com/techtile-by-dramco/{{ repo_name }}.git"
    dest_dir: "/home/pi/{{ repo_name }}"
    version: "main"

  tasks:
    - name: Ensure the Git repository is cloned or updated
      ansible.builtin.git:
        repo: "{{ repo_url }}"
        dest: "{{ dest_dir }}"
        version: "{{ version }}"
        update: yes          # pull latest changes if repo already exists
        force: yes           # optional, overwrite local changes if necessary
        accept_hostkey: yes  # auto-accept SSH host key
      become: no
      remote_user: pi